# python 3.9

jupyterlab==3.3.4
ipywidgets==8.0.2
pandas==1.4.2
numpy==1.22.3
tensorflow==2.8.0
torch==1.12.1
torchvision==0.13.1
transformers==4.21.3
datasets==2.1.0             # huggingface datasets
soundfile==0.10.3.post1     # for working with audio data (req for ASRcon dataset)

